<html>
    <body ng-app>
        <div class='container' ng-init="names=['charith','manoj','jehan']">
            
            <br>
            <ul>
                <li ng-repeat="name in names">{{name}}</li>
            </ul>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
    </body>
</html>